<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<meta charset="UTF-8">
<title>admin index</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="admin/common/common.css">
<link rel="stylesheet" href="admin/message/index/index.css">

</head>

<body>
	<div class="admin">
		<div class="admin-left" th:include="/admin/common/left::html">

<!--		<%@include file="../common/left.html" %>-->

		</div>

		<div class="admin-right" th:include="/admin/common/rightHeader::html">

<!--		<%@include file="../common/rightHeader.html" %>-->


		<div class="con">
		con
		</div>
		</div>
		
	</div>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="admin/common/common.js"></script>
	<script src="admin/message/index/index.js"></script>
	
</body>

</html>
</body>
</html>
