<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
    <link rel="stylesheet" href="/layui/css/layui.css">

</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Baby_贝小乐儿童管理后台</div>


        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!--			<li class="layui-nav-item"><a href="">推荐</a></li>-->
            <!--			<li class="layui-nav-item"><a href="">文章</a></li>-->
            <!--			<li class="layui-nav-item"><a href="">管理员</a></li>-->
            <li class="layui-nav-item">
                <a href="javascript:;">关于</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">

            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="/admin">首页文章管理</a>
<!--                    <dl class="layui-nav-child">-->
<!--                        <dd><a href="javascript:;">文章草稿</a></dd>-->

<!--                    </dl>-->
                </li>

                <li class="layui-nav-item">
                    <a href="/planManage">成长计划推荐管理</a>
<!--                    <dl class="layui-nav-child">-->
<!--                        <dd><a href="javascript:;">健康提醒录入</a></dd>-->
<!--                        <dd><a href="javascript:;">健康提醒推荐</a></dd>-->
<!--                        <dd><a href="">超链接</a></dd>-->
<!--                    </dl>-->
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">配对管理</a>
<!--                    <dl class="layui-nav-child">-->
<!--                        <dd><a href="javascript:;">配对规则</a></dd>-->
<!--                        <dd><a href="javascript:;">配对记录</a></dd>-->
<!--                        <dd><a href="">超链接</a></dd>-->
<!--                    </dl>-->
                </li>


                <li class="layui-nav-item">
                    <a href="/adminWeb/normalUser">普通用户管理</a>

                </li>
            </ul>
        </div>
    </div>


    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div layout:fragment="content"  style="padding: 15px;">

        </div>


    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        ©贝小乐儿童管理 2020
    </div>
</div>

<!-- 用于全局 -->
<script src="layui/layui.all.js"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;

    });
</script>


</body>

</html>