<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="footer">
    <section class="facility-section" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="title-with-icon text-center">

                        <p class="subtitle-2 font-weight-bold">&copy;2019 贝小乐</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.facility-section -->

    <!-- Footer Section -->
    <footer class="footer-section">
        <div class="container"></div>
    </footer>

</div>


</body>
</html>